//不帶值
//宣告 

@mixin box-sizing(){
    box-sizing: border-box;
}

@mixin marginAuto($bgc , $fontColor:red){
    margin: 0 auto;
    background-color: $bgc;
    padding: 10px;
    color: $fontColor;
 };


 //按鈕
 
@mixin btns($w , $bgc , $borderColor , $bdr:null){
    padding:10px $w;
    background-color: $bgc;
    cursor: pointer;
    border: 1px solid $borderColor;
    text-align: center;
    border-radius: $bdr;
    &:hover {
        background-color: darken($bgc ,5);
    }
 }


 @mixin btnAll($name , $w , $padding ,$bgc){
    #{$name}{
      width:$w ;
      padding:$padding ;
      background-color: $bgc;
    }
 }

 @mixin push_left($title , $val , $imgUrl){
    #{$title}-left_#{$val}{
        position: relative;
        left: $val + px;
        background-image: url(img/#{$imgUrl}.jpg);
        @content
    }
  }





