$a : 10px; //數字
$red : rgb(0, 255, 21); //顏色
$margin : 10px 0px 0px 10px; //list
$font_family : Helvetica,
Arial,
sans-serif; // 字串
$null : null; //null
$true : true; //true
$aa : false;
$bg-color:('blues': #ff5e00,
    'red' : #f20,
    'green' : #88ff00); //map



  
$desktop : 1200px;
$medium : 996px;
$small: 721px;  