/*註解*/
// sass 變數

$a : 10px; //數字
$red : #f20; //顏色
$margin : 10px 20px 20px 10px; //list
$font_family : Helvetica,
Arial,
sans-serif; // 字串
$null : null; //null
$true : true; //true
$aa : false;
$bg-color:(
  'blues': #001aff ,
  'red' : #f20,
  'green' : #88ff00
); //map

body {
    font-family: $font_family;
    margin: $margin;
    padding: $a * 10;
    background-color: $red;
    font-size: $null;
    color: map-get($bg-color, 'red' );
    
    @if $aa == true {
        border-radius: 10px;
    }
}