body {
    padding: 10px;
    background-color: rgb(243, 252, 217);
}

section {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
}

.box-s {
   width: 230px;
   height: 50px;
   background-color: rgb(255, 31, 31);  
}

.mg {
     position: relative;
     top: 350px;


}

.btn {
    width: 100px;
    height: 30px;
    background-color: rgb(190, 190, 190);
    cursor: pointer;
    margin-top: 10px;
}


.red {
    background-color: rgb(253, 59, 59); 
}

.blue {
    background-color: rgb(65, 132, 255);
}
.purple {
    background-color: rgb(255, 73, 240);
}
.yellow {
     background-color: #cfcc00;
}
